body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding-top: 20px;
}

h1 {
  font-size: 30px;
  color: #9fbf34;
  line-height: 40px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}
.role {
  color: white;
}

.flex-item {
  list-style-type: none;
  padding: 1px;
  font-size: 18px;
  margin-left: 10px;
}
.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  padding: 0 0 5px 20px;
}

.here {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  margin: 1px;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
  padding-right: 40px;
}

.edHead, .workHead, .proHead {
  text-align: center;
}

#topContacts {
  display: none;
}

#workTitle {
  padding: 0 0 2px 20px;
  margin: 0px;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 20px;
  margin: 0px;
  padding-left: 20px;
}

a {
  color: #9fbf34;
  text-decoration: none;
  margin: 2px 0px 0px 2px;
  display: inline-grid;
  padding: 0 0 0 20px;
}

.employer {
  float: none;
}

/*.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
  text-align: center;
}*/

#skills-h3 {
  color: #9fbf34;
  display: none;
  text-align: center;
}

.orange {
  background-color: #9fbf34;
}

.orange-text {
  color: #9fbf34;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

.mapBr {
  padding-bottom: 5px;
}

.lived {
  text-align: center;
}

img {
  padding: 10px;
  margin-left: 50px;
}

span {
  padding: 1px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
